---
layout: default.html
---

<main class="slides response-list">
  <div class="card title" id="cover" notes="">
    <h2>
      {{ name }}<br>
      {{ symbol }}
    </h2>
    <footer>
      <div><a href="{{ '/' | url}}">Questions for Designers</a></div>
      <div><a href="#title">{{name}}</a></div>
    </footer>
  </div>
  {% assign responses = collections.response | filterByDesigner: name | sortById %}
  {%- for r in responses %}
  <div class="card response" id="{{r.data.id}}">
    {%- assign qindex = r.data.id | minus: 1 -%}
    {%- assign question = questions[qindex].title -%}
    <div class="content">
      {%- capture path -%}/questions/q{{r.data.id}}{%- endcapture -%}
      <a href="{{path | url}}"><h2 class="heading">{{question}}</h2></a>
      {{r.templateContent}}
    </div>
  </div>
  {%- endfor -%}

  <footer>
    <div><a href="{{ '/' | url}}">Questions for Designers</a></div>
    <div><a href="#title">{{name}}</a></div>
  </footer>
</div>