---
layout: default.html
---

<main class="slides">
  <div class="card" id="title" notes="">
    <h2 class="center">
      {{ title }}<br>
      {{ symbol }}
    </h2>
  </div>

{%- for q in collections.question -%}
  <div class="card question" id="q{{ q.data.id }}">
      <p>
        {{ q.data.title }}
      </p>
    </div>
  <div class="card">
    <div class="content">
      {{ q.templateContent }}
    </div>
  </div>
{%- endfor -%}

</div>