---
layout: default.html
pagination:
  data: questions
  size: 1
  alias: question
permalink: "questions/q{{ question.id }}/"
id: question
---

<main class="slides question-list">
  <div class="card title" id="{{question.id}}">
    <h2>
      {{ question.title }}
    </h2>
  </div>
  {% assign answers = collections.response | filterById:question.id %}
  {%- for r in answers %}
  <div class="card response" style=" --main-color: #{{r.data.color}}" id="{{r.data.name|slug}}">
    <div class="content">
      {%- capture path -%}/designers/{{r.data.name|slug}}#{{question.id}}{%- endcapture -%}
      <a href="{{path | url}}"><h2 class="heading">{{r.data.symbol}} {{r.data.name}}</h2></a>
      {{r.templateContent}}
    </div>
  </div>
  {%- endfor -%}
  <footer>
    <div><a href="{{'/' | url}}">Questions for Designers</a></div>
    <div><a href="#title">{{question.title}}</a></div>
  </footer>
</div>